@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;1,200&display=swap");

@media (max-width: 720px) {
  .container {
    max-width: 720px;
  }
}
body {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Source Code Pro", monospace;
}

.text-center {
  text-align: center;
}

form {
}
